/* .App {
  text-align: center;
  justify-content: center;
  position: center;
} */
/* .card{
  width: 55rem;
}
@media screen and (max-width: 768px) {
  .card {
      width: 2rem;
  }
} */
.card-img{
  height: 50%;
  width: 5em;
}
